
body{
    color: #fff !important;
}
nav
{
    background: transparent;
    height: 50px;
    /*position: fixed;*/
}
nav ul {
    float: right;
}
nav ul li ,nav .logo{
    display: inline-block;
    line-height: 50px;
    margin: 0 10px; 
}

nav ul li a {
    color:#fff;
    line-height: inherit;
    display: inline-block;
    height: 50px;
    font-size: 15px;
    letter-spacing:1px;

}

nav .logo{
    float: left;
    font-size: 20px;
    letter-spacing: 1px

}

h2{
    font-size: 24px;
}
h3{
    font-size: 10px;
}

p{
    font-size: 16px;
    letter-spacing: 1px;
    margin: 5px 0 !important;
}
.logo a {
    color:#fff;
    font-weight:700;
}
button{
    border: none;
    background: #333;
    color: #eee;
    width: 94px;
    height: 42px;

}
#banner{
    background:rgba(0,0,0,0.1);
    height: 700px;
}
#banner h1 {
    font-weight: 3px;
    padding: 10px;
}
#banner .inner {
    text-align: center;
    max-width:300px;
    margin:0 auto;
    top: 130px;
    position: relative;
}
.inner .hr{
    width: 45%;
    background: #fff;
    display: inline-block;
    margin: 5px 0;
}
#banner button {
    background: #3ee4c6;
    font-size: 14px;
    margin-top:19px;
    border-radius: 5.3px;
}

#banner .inner .more {
    margin-top: 300px;
}

#banner .inner .sub-heading {
    margin: 10px;

}

.green-section {
    text-align: center;
    background: #3ee4c6;
    color: #fff;
    padding: 100px 0;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
}
.green-section .hr {
    background: #8ce8d8;
    margin: 20px;
}
.hr{

    width:100%;
    margin:5px auto;
    height: 2px;
}

.green-section .icon-group .icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border:1px solid #5ab3a3;
    transform: rotate(45deg);
    margin: 40px;
    line-height:70px;
    font-size: 27px;
    font-weight: 700;

}

.green-section .icon-group .icon label{
    transform: rotate(-45deg);
    width: 20px;
    display: inline-block;
    margin-right: 9px;
}
.icon-group {
    margin: 20px;
}

.gray-section{
    color:#fff;
    background:#312626;
 }
.gray-section .article-preview > div{
    float: left;
}
.gray-section .img-section{
    width:45%;
}

.img-section img {
    width: 100%;
}

.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
/*.article-preview:after{
    content: '';
    display: block;
    clear: both;
}*/

.text-section {
    top: 100px;
    position: relative;
    left: 65px;
    width: 55%;
}

.text-section h2{
    margin-bottom: 20px;
}
.text-section > * {
    max-width: 85%;
}

.article-preview:nth-child(odd){
    background-color: rgba(255,255,255,0.05);
}

.purple-section{
    background: #8212d6;
    padding: 80px;
}
.purple-section .heading-wrapper{
    text-align: center;
}
.purple-section .hr{
    background: #a54ee6;
    margin: 20px auto;
    width: 21%; 
}
.purple-section .card-group {
    /*width: 80%;*/
    margin: 40px auto;
}
.purple-section .card{
    float: left;
    position: relative;
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
}
.purple-section .card h3{
    font-size: 18px;
    margin-bottom: 10px;
}

.purple-section .card:nth-child(1){
    background-color: rgba(0,0,0,0.04);
}
.purple-section .card:nth-child(2){
    background-color: rgba(0,0,0,0.08);
}
.purple-section .card:nth-child(3){
    background-color: rgba(0,0,0,0.12);
}
.purple-section .card:nth-child(4){
    background-color: rgba(0,0,0,0.16);
}
.purple-section .card:nth-child(5){
    background-color: rgba(0,0,0,0.20);
}
.purple-section .card:nth-child(6){
    background-color: rgba(0,0,0,0.24);
}

footer{
    background: #312626;
    height: 120px;
    text-align: center;
}

footer .fotter-heading{
   padding: 20px;
}
footer ul li {
    display: inline-block;
    margin: 0 10px;
}

.main-wrapper {
    background: #444 url(../image/image5.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

header {
    background: rgba(0,0,0, 0.3)
}

.mask {
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.3);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.sidebar {
    position: fixed;
    width: 300px;
    top:0;
    right:-300px;
    bottom: 0;
    background: #444;
    transform: right 1s;

}

.sidebar ul li {
    padding: 10px;
    font-size:16px;
}
.sidebar ul a {
    color: #fff;
}
.sidebar ul {
    margin: 26px 0 0 0;
}
.sidebar ul li:hover{
    background: #666;
}
.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-size: 16px;
    border: 1px solid #251b1b;
}

